{% extends 'basic.html' %}

{%block title%} About Us {% endblock %}

{%block body%}
<br>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-10">
        <div class="card mb-10">
          <div class="card-body">
            <table border="4" cellspacing="15"  width="100%" align="center" id=t2>
            <tr><td><h1 style= "color:purple" bgcolor="white" id="H1"><marquee> ** Amey Shende Information ** </marquee></h1></tr></td>
            </table>
           <hr color=green>

            <div class="container-fluid px-0 my-4">

                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/static/seven.jpg" class="d-block w-100" alt="..." >
                  <div class="carousel-caption d-none d-md-block">
                      <br>
                    <br>
                    <h5>The Basic Functionality Of This Application Are Given Here :</h5>
                    <p align="left" >
                        1) You Can LogIn If You Have Account , You Can LogIn In By Username & Password.<br>
                        2) If You Don't HaveUsername & Password,  Then You Have to SigIn By Filling Basic Details Such As Name, Age etc<br>
                        3) You Can Depostile , Withdraw Money also from Your's Account.<br>
                        4) You Can Apply For Lone Case Also For Your Emergency Situations By Same Basic Formality. <br>
                        5) Also You Can Secured Yours Future By Making Fix Deposite. <br>
                        6) You can also send money to yors friend or request money to yours friend<br>
                        7) Enjoy With This Apllication<br>
                    </p>Thanks.</p>
                  </div>
                </div>
              </div>

            </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}