{% extends 'basic.html' %}

{%block title%} Details {% endblock %}

{%block body%}
<br>
<h3 style= "color:black">Hello {{b.cust_name}}</h3>
<hr color=black>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-10">
        <div class="card mb-10">
          <div class="card-body">
              <h2 class="text-center" style= "color:purple" > *** Account Information ***</h2>
              <hr>
            <table class="table table-bordered" id=t2>
                <thead class="table-warning">
                    <tr>
                    <th scope="col">Account No</th>
                    <th scope="col">Account Type </th>
                    <th scope="col">Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td><b>{{b.cust_acc_no}}</b></td>
                    <td><b>{{b.cust_acc_type}}</b></td>
                    <td><b>{{b.cust_balance}}</b></td>
                    </tr>
                </tbody>
            </table>
              <br>

          <form action="{% url 'send_money' %}" method="post">
            {% csrf_token %}
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" style= "color:black"><b>Enter Account No </b></label>
                <div class="col-sm-5">
                    <input type="number" class="form-control" name="sender_acc_no" required placeholder="Enter Valide Account No....">
                </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label" style= "color:black"><b>Enter Amount</b></label>
                <div class="col-sm-5">
                    <input type="number" class="form-control" name="send_amt" required placeholder="Enter Amount....">
                </div>
          </div>

          <button type="submit" class="btn btn-success">Send Money</button>&nbsp&nbsp&nbsp
          </form>

            <hr>
                <h2 class="text-center" style= "color:purple" > *** Money Request ***</h2>
              <hr>
            <table class="table table-bordered" id=t2>
                <thead class="table-warning">
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Account No</th>
                    <th scope="col">Requested Amount</th>
                    <th scope="col">Approved / Reject </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td><b>{{b.req_money_name}}</b></td>
                    <td><b>{{b.req_money_accNo}}</b></td>
                    <td><b>{{b.req_money}}</b></td>
                         <td>
                            <a style= "color:green"  href="\money_req_approve\{{b.req_money_accNo}}"> <b>Approve</b></a>
                            <a style= "color:red"  href="\money_req_reject\{{b.req_money_accNo}}"> <b>Reject</b></a>
                        </td>
                    </tr>
                </tbody>
            </table>
              <br>

          </div>
        </div>
      </div>
    </div>
  </div>


<div class="container-fluid px-5 my-5">
<table  cellspacing="50"  width="15%" align="right"><br>
    <tr>
        <td>
           <button type="button" onclick="location.href='{% url 'detail' b.cust_acc_no %}'" class="btn btn-dark btn-lg btn-block">Go To Last Menu</button>
        </td>
    </tr>
</table>
</div>

<div class="container-fluid px-5 my-5">
  <table  cellspacing="50"  width="15%" align="right"><br>
      <tr>
        <td>
            <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" name="logout" class="btn btn-dark btn-lg btn-block" value="Log Out">
          </form>
        </td>
      </tr>
  </table>
</div>

{% endblock %}